:root {
  --color-black: #000;
  --color-gray: #bfbfbf;
  --color-gray-light: #dcdcdc;
  --color-gray-dark: #939395;
  --color-gray-darker: #6f6f6f;
  --color-white: #fff;
  --color-blue: #2770c1;
  --color-blue-dark: #6178a2;
  --color-red: #b00000;
  --color-red-light: #b25864;
  --color-orange: #b05000;
  --color-green: #006600;
  --color-green-light: #5e8664;
  /* Special coloring schemes specific to Ashes card behavior */
  --color-inexhaustible: #f7f5e8;
  --color-inexhaustible-dark: #8d7b53l;
  --color-reaction: #ecf1f4;
  --color-reaction-dark: #a3c4d3;
}

@tailwind base;

html, body {
  min-width: 360px;
}

a {
  @apply text-blue;
}

a:hover, a:active {
  @apply underline;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

p {
  @apply my-4;
}

.btn {
  @apply appearance-none border-2 border-gray-darker bg-gray-light rounded-md px-2 text-gray-darker font-bold;
}

.btn-first {
  @apply rounded-r-none border-r-0;
}

.btn-inner {
  @apply rounded-none border-r-0;
}

.btn-last {
  @apply rounded-l-none;
}

@tailwind components;
@tailwind utilities;
