:root {
  --color-black: #000;
  --color-gray: #bfbfbf;
  --color-gray-light: #dcdcdc;
  --color-gray-dark: #939395;
  --color-gray-darker: #6f6f6f;
  --color-white: #fff;
  --color-blue: #2770c1;
  --color-blue-dark: #6178a2;
  --color-blue-light: #d4e2f3;
  --color-red: #b00000;
  --color-red-light: #b25864;
  --color-orange: #b05000;
  --color-green: #006600;
  --color-green-light: #5e8664;
  /* Special coloring schemes specific to Ashes card behavior */
  --color-inexhaustible: #f7f5e8;
  --color-inexhaustible-dark: #8d7b53;
  --color-reaction: #ecf1f4;
  --color-reaction-dark: #a3c4d3;
}

@tailwind base;

html, body {
  min-width: 360px;
}

a {
  @apply text-blue;
}

a:hover, a:active {
  @apply underline;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

p {
  @apply my-4;
}

button, input {
  @apply transition-opacity duration-200 ease-in-out;

  &[readonly], &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

.btn {
  @apply appearance-none border-2 border-gray-darker bg-gray-light rounded-md px-2 text-gray-darker font-bold;

  &.active {
    @apply bg-gray-darker text-gray-light;
  }
}

.btn-first {
  @apply rounded-r-none border-r;
}

.btn-inner {
  @apply rounded-none border-r border-l;
}

.btn-last {
  @apply rounded-l-none border-l;
}

.btn-blue {
  @apply border-blue text-blue bg-blue-light;
}

.nanobar .bar {
  @apply bg-blue opacity-50;
}

.divider {
  background: url('./assets/icon-diamond-bullet.png') no-repeat center center;
  display: inline-block;
  height: 7px;
  width: 7px;
  vertical-align: middle;
}

.alt-text {
  display: inline-block;
  width: 0px;
  height: 1px;
  overflow: hidden;
}

.inexhaustible-effects {
  @apply bg-inexhaustible border border-inexhaustible-dark px-2 relative clear-both;
  padding-top: 1px;
  padding-bottom: 1px;
}

.inexhaustible-effects::before {
  content: '';
  background: url('./assets/icon-inexhaustible.png') no-repeat left top;
  width: 11px;
  height: 11px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -6px;
}

.reaction-effects {
  @apply bg-reaction border border-reaction-dark px-2 relative clear-both;
  padding-top: 1px;
  padding-bottom: 1px;
}

.reaction-effects::before {
  content: '';
  background: url('./assets/icon-reaction.png') no-repeat left top;
  width: 19px;
  height: 11px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -10px;
}

@tailwind components;
@tailwind utilities;
